.order{
    display:inline-flex;
    justify-content: space-evenly;
}
.text1{
    padding: 10px;
    margin-left: 10px;
   
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-flex
  }

  li{
    list-style: none;
  }

.dot-text{
    font-size: 13px;
    background-color: red;
  margin-left: 30%;
}

  /* .li5 , h4{
    font-size: 12px;
    background-color: red;
  } */
  
    
